@CHARSET "UTF-8";

.ui-dialog .pcms{padding:0px;}
.ui-widget {font-size:1em;}

.ui-dialog-titlebar {font-size:0.9em;}

/*.ui-widget-overlay{opacity:0.9;background:#000;}*/


#msgStatus{
	position:absolute;
	top:0px;
	left:200px;
	background:red url('../images/admin/spinner.gif') no-repeat 4px 0px;
	color:#FFF;
	display:'inline';
	visibility:hidden;
	text-align:center;
	padding:2px 2px 2px 18px;
}