#sitemap{
	border:1px solid #CCC;
}
#sitemap A{
	text-decoration: none;
	color:#000;
}
#sitemap ul {

#sitemap ul li {
	display:block;
	float:left;
	border: 1px solid red;
	width: 200px;
}

#sitemap ul.menuLevel1{
	font-size: 18px;	
}

#sitemap ul.menuLevel1 ul.menuLevel2{
	font-size: 14px;	
}

#sitemap ul.menuLevel1 ul.menuLevel2 ul{
	font-size: 12px;	
}


#sitemap ul li ul li{
	display:block;
	float:none;
	border: 0px solid green;
}