#menuLeft{border:1px solid #CCC;width:200px;float:left;}
#menuLeft A{ color:#000;text-decoration: none;}
{ color:#000;text-decoration: none;}
#menuLeft A:HOVER, #blockMenu A.selected{ color:#CCC;text-decoration: underline;}

#menuTop{
	text-align: center;
	background: grey;
	padding:8px 0px;
}
#menuTop ul li {
display: inline;
padding: 0px 0px;
}
#menuTop ul{
	border:0px solid red;
	padding:0px;
	margin:0px;
}

#menuTop ul li A {
	color:#FFF;
	text-decoration: none;
	padding:0px 10px;
}
#menuTop ul li A:HOVER {
	color:red;
}

.menuCls{clear:both;font-size: 1px;height: 1px;}


#menuLeft A.selected{color:red;}
