@charset "UTF-8";
@import url(site.css);


#mypaginate {
	border-top:1px dashed #CCC;
	text-align: right;
	margin-top: 10px;
	padding-top:4px;
}

#mypaginate A {
	text-decoration: none;
	color: #000;
}
#mypaginate A.selected{
	font-size: larger;
	font-weight: bold;
}

#mypaginate A.unactive {
	color:#CCC;
}


#blockContent{
	margin-left:10px;
}